@use "../abstract/" as *;
@use "../base/" as *;

.header{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 2rem 0;
    box-shadow: rgba(277, 40, 10, 0.1) 0px 4px 12px;
    &__wrapper {
        @include between;
        img{
            height:3rem;
            width: 10rem;
        }
    }
    &__nav{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        li a{
            color: $clr--light;
        }
        :hover{
            color: $clr--secondary;
        }
        @include mediaQuery(520px){
            position: fixed;
            top: 0;
            height: 100vh;
            width: 100%;
            z-index: 999;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            background-color: $clr--dark;
            right: -100%;
            transform: translateY(-18rem);
            margin-top: 23rem;
            transition: 0.5s ease;
        }
        &.open{
            right: 0;
            transition: 0.5s ease-in-out;
        }
    }
    .toggle__menu{
        display: none;
        @include mediaQuery(520px){
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
            span{
                background-color: $clr--light;
                width: 2rem;
                height: 0.3rem;
                border: 2px solid;
                border-radius: 1rem;
                display: block;
            }
            &.open{
                span{
                    transition: 0.5s ease;
                }
                span:nth-child(1) {
                    transform: translate(0, 10px) rotate(230deg);
                    transition: 0.5s ease;
                  }
                  span:nth-child(2) {
                    opacity: 0;
                  }
                  span:nth-child(3) {
                    transform: translate(0, -6px) rotate(-230deg);
                    transition: 0.5s ease;
                  }
            }
        }
    }

}