@use "../abstract/" as *;
@use "../base/" as *;

.header{
    width: 100%;
    z-index: 999;
    padding: 2rem 0;
    box-shadow: rgba(277, 40, 10, 0.1) 0px 4px 12px;
    &__wrapper {
        @include between;
        img{
            height:3rem;
            width: 10rem;
        }
    }
    &__nav{
        display: flex;
        gap: 1rem;
        li a{
            color: $clr--light;
        }
        :hover{
            color: $clr--secondary;
        }
    }

}