@use "../abstract/" as *;

.btn{
    padding: .8rem 2rem;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: 2rem;
    &.bg--secondary{
        @extend .btn;
        background-color: $clr--secondary;
        border: 1px solid $clr--secondary;

        font-weight: 700;
        box-shadow: rgba(231, 4, 4, 0.1) 0px 4px 12px;
        color: $clr--light;
        &:hover{
            background-color: $clr--light;
            color: $clr--secondary;
        }
    }

    &.bg--outline{
        @extend .btn;
        background-color: transparent;
        color: $clr--secondary;
        border: 1px solid $clr--secondary;
        font-weight: 100;
        &:hover{
            color: $clr--light;

        }
    }

    &.bg--radius{
        @extend .bg--outline;
        border-radius: 0.4rem;
    }
}